
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  .nav {
    background-color: black;
    color: white;
    p {
      display: inline-flex;
      margin-left: 20px;
    }
  }

  .body {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;

      .city-description {
        margin: 10px;
        padding: 15px;
        max-width: 700px;
        background-color: #ebebeb;
      }

      .weather {
        padding: 10px;
        margin: 10px;
        max-width: 400px;
        background-color: #ebebeb;
      }

      .sample {
        margin: 10px;
        max-width: 700px;
        padding: 100px 292px 100px 292px;
        border: 1px solid #cccccc;
        color: #cccccc;
      }
      .maps {
        margin: 10px;
        max-width: 400px;
        img {
          width: 100%;
        }
      }

  }

}
