---
title: Clear Channel
---

<div class="nav">
  <p>Select a city:</p>
  <button type="button" name="button">city.name</button>
</div>

<div class="body">

  <div class="city-description">


    <h1 id="name">
      City.name
          <%= data.test.dog %>
    </h1>

    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="weather">
    <h1>the weather channel</h1>
  </div>

  <div class="sample">
    <h1>SAMPLE</h1>
  </div>

  <div class="maps">
    <img src="https://i2-prod.getwestlondon.co.uk/incoming/article9313114.ece/ALTERNATES/s615/Untitled.jpg" alt="">
  </div>
</div>

<!-- <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> -->
