---
title: Clear Channel
---

<div class="nav">
  <p>Select a city:</p>

  <select id="select">
    <option value="london">London</option>
    <option value="newYork">New York</option>
    <option value="rome">Rome</option>
  </select>

</div>

<div class="body">

  <div class="city-description" id="city-description">


    <h1 id="name">
      City.name
    </h1>

    <p id="description">

    </p>
  </div>

  <div class="weather" id="weather">
    <h1 id="temp"></h1>
    <p id="wind"></p>
  </div>

  <div class="sample">
    <h1>SAMPLE</h1>
  </div>

  <div class="maps">
    <img src="https://i2-prod.getwestlondon.co.uk/incoming/article9313114.ece/ALTERNATES/s615/Untitled.jpg" alt="">
  </div>
</div>

<!-- <%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %> -->
